<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}\internal-nlog.txt">
    
    <targets>
        <target xsi:type="File"
                name="fileTarget"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-mvc-action}|${aspnet-request-posted-body}" />
        <target xsi:type="ColoredConsole"
                name="consoleTarget"
                layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-mvc-action}|${aspnet-request-posted-body}" />
    </targets>
    
    <rules>
        <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Warn" writeTo="fileTarget" />
    </rules>
</nlog>